<div class="row">
  <div class="col-sm-12">
    <h2>API Testing</h2>

    <p class="indent">Maverix is a maccish bootstrap theme and application boilerplate. It gives your web-apps a
      native look and feel and bundles
      <a href="https://angularjs.org/">AngularJS</a> and other components such as <a href="http://jquery.com/">jQuery</a>,
      <a href="http://www.flotcharts.org/">Flot</a> and <a href="http://andreruffert.github.io/rangeslider.js/">rangeslider.js</a>
    </p>
    <div class="col-lg-6">
      <div class="well">
        <ng-form>
          <h2>Designer:</h2>
            <div class="form-group">
              <label for="txtUrl">Url</label>
              <input type="text" class="form-control" id="txtUrl" name="txtUrl" ng-model="apiRequest.url">
            </div>
          <div class="form-group">
            <label for="txtTrackedObjects">Tracked Object Path(s) <span style="font-size: x-small">(separate multiple paths with pipes '|')</span></label>
            <textarea class="form-control" id="txtTrackedObjects" name="txtTrackedObjects"
                      ng-model="trackedList" ng-change="updateTrackedObject()"
                      ng-list="|" >
            </textarea>
            <!--<pre>{{apiRequest.trackedObjects | json}}</pre>-->
          </div>
          <button class="btn btn-modern btn-lg" data-toggle="modal" ng-click="callAPI()">
            Send
          </button>
          <button class="btn btn-modern btn-lg pull-right" data-toggle="modal" ng-click="saveRequest()">
            Save
          </button>
        </ng-form>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="well">
        <h2>Result:</h2>
        <p>Request: {{apiRequest.type}} | Status: {{apiRequest.status}}</p>
        <h3>Tracked Objects:</h3>
        <div>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Object</th>
              <th>Value</th>
            </tr>
            </thead>
            <tr ng-repeat="obj in apiRequest.trackedObjects">
              <td>{{obj.key}}</td>
              <td>{{obj.value}}</td>
            </tr>
          </table>
        </div>
        <h3>Response:</h3>
        <pre>{{apiRequest.result | json}}</pre>
      </div>
    </div>

    </div>
</div>
